<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Policy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
   <%= stylesheet_link_tag  'bootstrap.min' %>
          
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,900' rel='stylesheet' type='text/css'>
   <style type="text/css">
        body { line-height: 2;}
        .paddin_extra{padding: 40px 10px;}
        .container.paddin_extra > strong {font-size: 40px; font-weight: bold; text-decoration: underline; float: left; width: 100%;}
        strong { font-size: 23px; font-weight: bold;}
        a{color: #000;}
        a:hover{color: #000;}
        @media (max-width: 768px){
            body { line-height: 1.6;}
            .container.paddin_extra > strong {font-size: 20px; }
            strong { font-size: 17px; }
        }
    </style>
</head>

<body>
    <div class="container paddin_extra">
        <strong>Data Policy</strong>
        <p>This policy describes what information we collect and how it is used and shared.  As you review our policy, keep in mind that it applies to all Marqoo brands, products and services that do not have a separate privacy policy or that link to this policy, which we call the <a href="https://www.facebook.com/help/1561485474074139">“Marqoo Services” or “Services.”</a>
        </p>
        <strong>What kinds of information do we collect?</strong>
        <p>Depending on which Services you use, we collect different kinds of information from or about you.</p>
        <span>
            <strong>Things you do and information you provide.</strong>
            <p>We collect the content and other information you provide when you use our Services, including when you sign up for an account, create or share, and message or communicate with others. This can include information in or about the content you provide, such as the location of a photo/video or the date a file was created. We also collect information about how you use our Services, such as the types of content you view or engage with or the frequency and duration of your activities.</p>
        </span>
        <span>
            <strong>Things others do and information they provide.</strong>
            <p>We also collect content and information that other people provide when they use our Services, including information about you, such as when they share a photo/video of you, send a message to you, or upload, sync or import your contact information</p>
        </span>
        <span>
            <strong>Your networks and connections.</strong>
            <p>We collect information about the people and groups you are connected to and how you interact with them, such as the people you communicate with the most or the groups you like to share with. We also collect contact information you provide if you upload, sync or import this information (such as an address book) from a device.</p>
        </span>
        <span>
            <strong>Device information.</strong>
            <p>We may collect information from or about the computers, phones, or other devices where you install or access our Services.  We may associate the information we collect from your different devices, which helps us provide consistent Services across your devices.</p>
        </span>
        <span>
            <strong>Information from websites and apps that use our Services.</strong>
            <p>We collect information when you visit or use third-party websites and apps that use our Services.  This includes information about the websites and apps you visit, your use of our Services on those websites and apps, as well as information the developer or publisher of the app or website provides to you or us.</p>
        </span>
        <span>
            <strong>Information from third-party partners.</strong>
            <p>We receive information about you and your activities from third-party partners, such as information from a partner when we jointly offer services or from an advertiser about your experiences or interactions with them.</p>
        </span>
        <span>
            <strong>Marqoo companies.</strong>
            <p>We may receive information about you from companies that are owned or operated by Marqoo, in accordance with their terms and policies.</p>
        </span>
        <strong>How do we use this information?</strong>
        <p>We use all of the information we have to help us provide and support our Services.  Here’s how:</p>
        <span>
            <strong>Provide, improve and develop Services.</strong>
            <p>We are able to deliver our Services, personalize content, and make suggestions for you by using this information to understand how you use and interact with our Services and the people or things you’re connected to and interested in on and off our Services.</p>
        </span>
        <span>
            <strong>Communicate with you</strong>
            <p>We may use your information to send you marketing communications, communicate with you about our Services and let you know about our policies and terms. We also use your information to respond to you when you contact us.</p>
        </span>
        <span>
            <strong>Show and measure ads and services.</strong>
            <p>We use the information we have to improve our advertising and measurement systems so we can show you relevant ads on and off our Services and measure the effectiveness and reach of ads and services.</p>
        </span>
        <span>
            <strong>Promote safety and security.</strong>
            <p>We use the information we have to help verify accounts and activity, and to promote safety and security on and off of our Services, such as by investigating suspicious activity or violations of our terms or policies. We work hard to protect your account using teams of engineers, automated systems, and advanced technology such as encryption and machine learning. We use cookies and similar technologies to provide and support our Services</p>
        </span>
        <strong>How is this information shared?</strong>
        <span>
            <strong>Sharing On Our Services</strong>
            <p>People use our Services to connect and share with others. We make this possible by sharing your information in the following ways:</p>
        </span>
        <span>
            <strong>People you share and communicate with.</strong>
            <p>Public Information is any information you share with a public audience, as well as information in your profile, or content you share on Marqoo or another public forum. Public information is available to anyone on or off our Services and can be seen or accessed through online search engines, APIs, and offline media, such as on TV.</p>
            <p>In some cases, people you share and communicate with may download or re-share this content with others on and off our Services. When you comment on another person’s post or like their content on Marqoo, that person may decide the audience who can see your comment or like. If their audience is public, your comment will also be public.</p>
        </span>
        <span>
            <strong>People that see content others share about you.</strong>
            <p>Other people may use our Services to share content about you. For example, people may share a video of you, mention or tag you at a location in a post, or share information about you that you shared with them.</p>
        </span>
        <span>
            <strong>Apps, websites and third-party integrations on or using our Services.</strong>
            <p>When you use third-party apps, websites or other services that use, or are integrated with, our Services, they may receive information about what you post or share.  In addition, when you download or use such third-party services, they can access your profile, which includes your username, your age range and country/language, as well as any information that you share with them. Information collected by these apps, websites or integrated services is subject to their own terms and policies. </p>
        </span>
        <span>
            <strong>Sharing within Marqoo companies</strong>
            <p>We share information we have about you within the family of companies that are part of Marqoo.</p>
        </span>
        <span>
            <strong>New owner.</strong>
            <p>If the ownership or control of all or part of our Services or their assets changes, we may transfer your information to the new owner.</p>
        </span>
        <span>
            <strong>Sharing With Third-Party Partners and Customers</strong>
            <p>We work with third party companies who help us provide and improve our Services or who use advertising or related products, which makes it possible to operate our companies and provide free services to people around the world.</p>
            <p>Here are the types of third parties we can share information with about you:</p>
        </span>
        <span>
            <strong>Advertising, Measurement and Analytics Services (Non-Personally Identifiable Information Only).</strong>
            <p>We want our advertising to be as relevant and interesting as the other information you find on our Services. With this in mind, we use all of the information we have about you to show you relevant ads. We do not share information that personally identifies you (personally identifiable information is information like name or email address that can by itself be used to contact you or identifies who you are) with advertising, measurement or analytics partners unless you give us permission. We may provide these partners with information about the reach and effectiveness of their advertising without providing information that personally identifies you, or if we have aggregated the information so that it does not personally identify you. For example, we may tell an advertiser how its ads performed, or how many people viewed their ads or installed an app after seeing an ad, or provide non-personally identifying demographic information (such as 25 year old female, in Madrid, who likes software engineering) to these partners to help them understand their audience or customers, but only after the advertiser has agreed to abide by our advertiser guidelines. </p>
        </span>
        <span>
            <strong>Vendors, service providers and other partners.</strong>
            <p>We transfer information to vendors, service providers, and other partners who globally support our business, such as providing technical infrastructure services, analyzing how our Services are used, measuring the effectiveness of ads and services, providing customer service, facilitating payments, or conducting academic research and surveys. These partners must adhere to strict confidentiality obligations in a way that is consistent with this Data Policy and the agreements we enter into with them.</p>
        </span>
        <strong>How can I manage or delete information about me?</strong>
        <p>We store data for as long as it is necessary to provide products and services to you and others, including those described above. Information associated with your account will be kept until your account is deleted, unless we no longer need the data to provide products and services. </p>
        <p>You can delete your account any time. When you delete your account, we may delete things you have posted, such as your videos and status updates. Keep in mind that information that others have shared about you is not part of your account and will not be deleted when you delete your account.</p>
        <strong>How do we respond to legal requests or prevent harm?</strong>
        <p>We may access, preserve and share your information in response to a legal request (like a search warrant, court order or subpoena) if we have a good faith belief that the law requires us to do so. This may include responding to legal requests from jurisdictions outside of the United States where we have a good faith belief that the response is required by law in that jurisdiction, affects users in that jurisdiction, and is consistent with internationally recognized standards. We may also access, preserve and share information when we have a good faith belief it is necessary to: detect, prevent and address fraud and other illegal activity; to protect ourselves, you and others, including as part of investigations; or to prevent death or imminent bodily harm. </p>
        <strong>How will we notify you of changes to this policy?</strong>
        <p>We’ll notify you before we make changes to this policy and give you the opportunity to review and comment on the revised policy before continuing to use our Services.</p>
        <strong>How to contact Marqoo with questions</strong>
        <p>If you have questions about this policy, please contact Marqoo Mobile App, LLC online or by mail at:
<br>
Marqoo Mobile App, LLC<br>
3455 Peachtree NE The Building, 5th floor, Pinnacle Ct, <br>
Atlanta, GA 30326<br>
Date of Last Revision: June 10, 2016</p>
    </div>
</body>
</html>
