<div class="container">
 <div class="page-title"><h1>Contact us </h1> </div>
 </div>
 <div class="homeSection" id="appPreview">

<div class="container">

<div class="homeSection" id="appIntro">
  <div class="container">
    <div class="homeCopy">
      <h2>Contact us:</h2></br>

    <a class="anchor_color" href="mailto:info@marqooapp.com" target="_blank">For support contact - support@marqooapp.com</a></br></br>
    <a class="anchor_color" href="mailto:cherie.kloss@marqooapp.com" target="_blank">For Media related enquiries - cherie@marqooapp.com</a>

    
    </div>
    <div class="phone">
      <iframe src="https://www.google.com/maps/embed/v1/place?q=Atlanta,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div> 
</div>


</div>
</div>




<!-- <div class="contact">
 <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
  <div class="row ">
   <div class="rowspace">
    <label for="name">Your name:</label><br />
    <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
    </div>
  </div>
  <div class="row">
  <div class="rowspace">
    <label for="email">Your email:</label><br />
    <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
    </div>
  </div>
  <div class="row">
  <div class="rowspace">
    <label for="message">Your message:</label><br />
    <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
    </div>
  </div>
  <input id="submit_button" class="sendbutton" type="submit" value="Send email" />
</form> -->
          