<div class="container">
 <div class="page-title"><h1>Contact us </h1> </div>
 </div>
<div class="container">
<div class="contact">
 <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
  <div class="row ">
   <div class="rowspace">
    <label for="name">Your name:</label><br />
    <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
    </div>
  </div>
  <div class="row">
  <div class="rowspace">
    <label for="email">Your email:</label><br />
    <input id="email" class="input" name="email" type="text" value="" size="30" /><br />
    </div>
  </div>
  <div class="row">
  <div class="rowspace">
    <label for="message">Your message:</label><br />
    <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
    </div>
  </div>
  <input id="submit_button" class="sendbutton" type="submit" value="Send email" />
</form>
</div>          