<div class="container">
<div class="title">
				<h2 style=" text-align: center; margin: 25px 0; font-size: 35px;"> helloo firstname lastname!
</h2>
		
			</div>
	<div class="video">
		<div class="videoView">
				<video id="video" controls="controls">
						<!-- <source src="http://marqooapp.com/api/v1/phelps.mp4" type="video/mp4">  -->
						<source src="http://192.168.0.196:3002/api/v1/phelps.mp4" type="video/mp4">
				</video>
		</div>
		<div class="videoInfo">
			<div class="title">
				<h2 style=" text-align: center; margin: 25px 0; font-size: 30px;"> SEE MICHAEL PHELPS GETTING HIS HAIRCUT IN A BLACK BARBERSHOP!
</h2>
		
			</div>
			<div class="metrics">
				<p>What is the MarQoo app?
MarQoo is the first Black Urban App Network and it contains videos of interest to the Black Urban community. Different channels are in the app network ranging from Comedy and Sports, to Music, Fashion and Beauty. Users will find the best collection of videos from all over the web, including original content videos uploaded by the MarQoo community. It is a one-stop shop where you can find all things urban, all in one place, categorized, easy to find, watch and share. Now more than ever, the Black Urban community needs a place to find others who share the same interests, and concerns. Share a laugh, a news clip, or even just a fashion tip. Start your own video page and interact with others on the app.
Join the MarQoo Movement now and download the free app to get started... Available on iTunes and Google Play 

click here to download the free MarQoo app and see the exclusive Michael Phelps video!</p>
			</div>
		</div>
		
		<div class="download" style="    text-align: center;">
				<!-- <a href="#" class="btn btn-default">Download for iPhone</a> -->
				<a href="https://play.google.com/store/apps/details?id=com.marqoo",  target="_blank" ><%= image_tag "googlestore.png", class: "appstorebutton" %></a>
				<a href="https://itunes.apple.com/us/app/marqoo/id1105142170?ls=1&mt=8" ,  target="_blank"><%= image_tag "applestore.png", class: "appstorebutton" %></a>
			</div>
	</div>

</div>
