/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .forgotform input[type=email] { color: #333;  }
 .forgotform {margin-top: 50px;margin-bottom: 100px;}

 form input[type=submit].resetpassword { padding: 15px 25px;
    border: none;
    border-radius: 40px;
    background: #2EC4B6;
    color: white;
    font-weight: bold;
    font-size: 20px; }


form input[type=submit].resetpassword:hover {background: #279A8F}